
.book-container {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  padding: 20px;
  /* background-image: linear-gradient(to bottom right, hsl(32, 79%, 69%), #cacab1); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Assets/book5.jpg') no-repeat fixed center center/cover;
}

h1{
  font-family: cursive;
}

.form-container {
  flex: 1;
  border: 2px  double #919191;
  padding: 20px;
  border-radius: 8px;
  /* background-color: #99775C; */
  background-image: linear-gradient(to bottom right, hwb(0 27% 69%), #ebebeb);
  
}

.book-now-heading {
  font-size: 24px;
  font-weight: bold;
}

.tent {
  color: green;
}

.glam {
  color: purple;
}


/* .form-container .submit-button{
  background-color: #f9f9f9;
} */

.seat-selection {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.seat-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  /* background-image: url(../Assets/tent-show.png); */
}

.seat-button {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.seat-button.selected {
  background-color: #4caf50;
  color: #fff;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
}
/* Styling for the logo container */
/* .logo-container {
  text-align: center;
  margin-bottom: 20px; 
} */



.logo-image-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 150px;  /* Adjust the size of the logo */
  height: auto;
}


.form-group label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: hsl(0, 0%, 20%);
  background-color: transparent;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input:active{
  height: 30px;
  border: 1px dashed gray;
}
/* .form-group input:hover{
  background-color: transparent;
} */


.submit-button {
  width: 40%;
  padding: 5px;
  background-color: #99775C;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 150px;
}

.submit-button:hover {
  background-color: hwb(214 66% 6%);
}


/* --------------------------------------------- */


*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* body{
  background: linear-gradient(135deg, #c1a3c9, #d89caa);
} */

 




.tent-booking-container {
 justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 30px; 
  
  
}

.curve {
  position: relative;
  display: grid;
  place-items: start;
  margin-left:2px;
  width: 50px; 
  height: 200px; 
}

.curve.top {
  position: relative;
  clip-path: ellipse(990% 560% at 900% 0%);
  transform: rotate(270deg);
  margin-left: 300px;
  text-align: center;
   width: 50px; 
  
}

.curve.bottom {
  clip-path: ellipse(500% 800% at 80% 100%);
  transform: rotate(-90deg);
  margin-top: -400px;
  margin-left: 350px;

}
.tent-button2 {
  position: absolute;
  transform-origin: center bottom;
  transform: rotate(calc(var(--index) * var(--angle-step)))
  translateY(calc(var(--radius) * -2.4));
  transition: transform 0.3s, background-color 0.3s;
  /* width: 20px;  */
  height: 20px;
  border: none;
  gap: 0.2px;
  border-radius: 30%;
  background-color: #ccc;
  cursor: pointer;
}

.tent-button {
  position: absolute;
  transform-origin: center bottom;
  transform: rotate(calc(var(--index) * var(--angle-step)))
  translateY(calc(var(--radius) * -2));
  transition: transform 0.3s, background-color 0.3s;
  gap: 0.2px;
  width: min-content;
  border: none;
  border-radius: 30%;
  background-color: #ccc;
  cursor: pointer;
}

.tent-button.selected {
  background-color: #4b844b;
  color: white;
}

.tent-button:hover {
  background-color: #ffa500;
  color: white;
}

.tent-button2:hover {
  background-color: #ffa500;
  color: white;
}






@media (max-width: 768px) {
  .tent-booking-container {
    margin-top: 320px; 
    gap: 20px; 
  }

  .curve {
    width: 80px; 
    height: 200px; 
  }

  .tent-button {
    width: 50px; 
    height: 25px;
  }
}


@media (max-width: 480px) {
  .tent-booking-container {
    margin-top: 200px; 
    gap: 15px;
  }

  .curve {
    width: 60px; 
    height: 150px;
  }



  .tent-button {
    width: 20px; 
    height: 12px;
  }
}


@media (min-width: 1200px) {
  .tent-booking-container {
    margin-top: 220px; 
    gap: 40px;
  }

  .curve {
    width: 120px;
    height: 350px; 
  }

  .tent-button {
    width: 35px;
    height: 25px;
   
  }
} 


.tent-curve-container{
  width: 60%;
}









