
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
}
#hero-section-id a {
  text-decoration: none;
  color: #007bff;
}

#hero-section-id a:hover {
  text-decoration: underline;
}

h1, h2 {
  margin-bottom: 10px;
  font-size: 3rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  height: 300px; 
  background-image: url('../Assets/tent6.avif');
  line-height: 223px;
  clip-path: ellipse(100% 70% at 50% 20%);
  background-size: cover;
  background-position: center
  
}

.hero-nav {
  text-align: center;
}

.info2 h1 {
  font-size: 3rem;
  margin-bottom: 20px; 
  color: #eee6e6; 
}

.hero-nav a {
  display: inline-block; 
  margin: 0 10px; 
  font-size: 18px; 
  text-decoration: none; 
  color: #f1f1f1;
  transition: color 0.3s ease; 
}

.hero-nav a:hover {
  color: #6cafad; 
}

.cont-bg{
   background: linear-gradient(to right, #fff,#8f9bac); 
}


.contact-info {
  padding: 20px;
  background: linear-gradient(to right, #99775C,#EAE7DD);
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
  border-bottom: 2px solid #090909;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-info ul {
  padding-left: 20px;
}

.contact-info li strong {
  color: #bdab21;
}


.contact-form {
  padding: 20px;
  background: linear-gradient(to right, #99775C,#EAE7DD);
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  border-bottom: 2px solid #0a0a0a;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.f-group {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-bottom: 15px;
}

.f-group label {
  font-weight: bold;
  width: 100px; 
}

.f-group input,
.f-group textarea {
  flex: 1; 
  padding: 10px;
  border: 1px solid #5a5757;
  border-radius: 4px;
  font-size: 14px;
}

.f-group input:focus,
.f-group textarea:focus {
  outline: none;
  border-color: #b5e6b7;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}


textarea {
  resize: vertical;
  height: 100px;
}

#contactus-form button{
  
  justify-content: center;
  margin-left: 200px; 
}

#contactus-form button[type="submit"] {
  background-color: #323f50;
  align-items: center;
  color: #fff;
  padding: 10px 60px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  /* margin-left: 220px; */
  /* text-align: center; */
}

#contactus-form button[type="submit"]:hover {
  background-color: #021c35;
}

.error {
  color: #d9534f;
  font-size: 13px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-nav {
    flex-direction: column;
    gap: 10px;
  }

  .contact-info,
  .contact-form {
    margin: 10px;
    padding: 15px;
  }
}
